<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!--<servers>-->
        <!--<server>-->
            <!--<id>ossrh</id>-->
            <!--<username>shaikhsalman</username>-->
            <!--<password>Letmeonly1n1:D2716.</password>-->
        <!--</server>-->
    <!--</servers>-->
    <!--<activeProfiles>-->
        <!--<activeProfile>CommonServices</activeProfile>-->
    <!--</activeProfiles>-->
    <!--<profiles>-->
        <!--<profile>-->
            <!--<id>ossrh</id>-->
            <!--<activation>-->
                <!--<activeByDefault>true</activeByDefault>-->
            <!--</activation>-->
            <!--<properties>-->
                <!--<gpg.executable>gpg</gpg.executable>-->
                <!--&lt;!&ndash;<gpg.keyname>80A11482DD9DF50DD884F433A1A2A25268681BAA</gpg.keyname>&ndash;&gt;-->
                <!--<gpg.passphrase>Salman@123</gpg.passphrase>-->
            <!--</properties>-->
        <!--</profile>-->
    <!--</profiles>-->
</settings>